:root{
    --nav-width: 200px; 
    --main-color: #333;
    --bac-main-color: #fff;
    --lighter-gray:#d9d9d9;
    --light-gray:#f2f2f2;
    --bac-color-one: #fff;
    --icon-color:#009900;
    --hightlight:rgba(0,230,0,0.1);
    --lighter-green:#00b300;
}
body {    
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin:0px !important;padding: 0px !important;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background:  var(--light-gray);
    padding-top: 105px;float:left;
    border-right: 1px solid var(--lighter-gray);
}
.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: var(--icon-color);
    font-weight: 500;
    position: relative;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: var(--main-color);
}
.menuDet{position: absolute; right: 8px; top: 70px;z-index: 10000;}
.menuDet button{outline: none !important;border: 2px solid var(--icon-color); width: 30px;height: 30px;text-align: center;border-radius: 4px;background-color: var(--light-gray);color: var(--icon-color);font-weight: bold;cursor: pointer;}
.menuDet > button:last-child{display: none;}
.nav_top{color: var(--main-color);background-color: var(--bac-color-one);width:100%;height: 50px;padding-top:10px;position: relative; box-shadow: 0px 15px 10px -15px #111;}
.nav_top > div{right:20px;top:0px;position: absolute;padding: 20px 10px 10px;padding-right: 0px;background-color: var(--bac-main-color);} 
.nav_top span{display: inline-block;font-size: 18px;}
.content{float:left;width: calc(100% - var(--nav-width));height: 100vh;margin-left: var(--nav-width);}
.highlight{ background-color: var(--hightlight);}
.nav__link > span:first-child{width: 5px;height: 17px;display: inline-block;position:absolute;left: 0px;bottom: 15px;background-color: var(--light-gray);}
.nav__link > i{margin-right: 5px;}
.fa{color:var(--icon-color)}
.highlight > span:first-child{background-color: var(--icon-color);}
.brandname{color:var(--icon-color);font-size: 30px;font-weight: bold;margin-left: 5%;}
.namesub{color:var(--lighter-green)}
.nav__link:hover{background-color: var(--hightlight); color:var(--icon-color)}
.nav__link:hover span:first-child{color:var(--icon-color) !important}